config SPN_THREADING
    bool "Enable SPN threading primitives"
    select SPN_CONTAINERS
    select SPN_CORE
    select SPN_DEBUGGING
    select SPN_LOGGING
    select SPN_TIMING
    select ETL
    select EVENTS
    default n
    help
      Enable the SPN threading primitives library
