rsource "core/Kconfig"
rsource "example_lib/Kconfig"
rsource "logging/Kconfig"
rsource "system/Kconfig"
rsource "debugging/Kconfig"
rsource "threading/Kconfig"
rsource "allocation/Kconfig"
rsource "containers/Kconfig"
rsource "dependency_injection/Kconfig"
rsource "timing/Kconfig"
